/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 25.jan.2017, 18:02:23
    Author     : hallgeir
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18.nov.2016, 13:18:55
    Author     : hallgeir
*/

body {
    background-color: lightblue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    font-family: verdana;
    font-size: 20px;
}

form
{
    background-color: #ffff66;
    color: #ff3333;
    padding-top: 50px;
}

div.form {
    background-color: #cccccc;
    color: white;
    border: 1px solid black;
    padding-top: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
    width: 50%;
    padding: 20px;
} 

div.ledetekst {
     margin-left: 15px;
     font-size: 30px;
     color: red; 
     font-weight: bold;
     /* text-shadow: 3px 2px red;  */
    
} 

div.inn {
     margin-left: 250px;
} 


div.resultat {
     margin-left: 350px;
     font-size: 20px;
     padding: 10px;
     background-color: blueviolet;
     width: 150px;
} 


div.output {
    background-color: #cccccc;
    color: white;
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 180px;
    width: 50%;
    padding: 20px;
    font-size: 50px;
    
}

div.info {
    color:red;
    margin-left: 180px;
    padding: 20px;
    font-size: 50px;
}

div.readme1
{
    background-color: lightgrey;
}

div.readme2
{
    background-color: grey;
}

div.innrykk{
    margin-left: 100px;
}

.chosen {
    background: red;
}